<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- @Html.ActionLink("Ejemplo University", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
                <a href="/Home/Index"><img id="logo" src="http://utpp.edu.mx/wp-content/uploads/2013/03/utpp_logo1-e1364075654970.png" alt="Alternate Text" /></a>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Lista de Alumnos", "Index", "Alumno")</li>
                        <li>@Html.ActionLink("Administracion de Grupos", "Index", "Grupo")</li>
                        <li>@Html.ActionLink("Oferta Educativa", "Index", "Carrera")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/personalizacion")
    @RenderSection("scripts", required: false)
</body>
</html>
